.admin-login-container{

    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#F8FAFC;

}


.admin-login-box{

    width:400px;
    background:white;
    padding:40px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);

}


.admin-login-box h1{

    text-align:center;
    color:#2E7D32;
    margin-bottom:10px;

}


.admin-login-box p{

    text-align:center;
    color:#64748B;
    margin-bottom:30px;

}


.admin-login-box form{

    display:flex;
    flex-direction:column;
}


.admin-login-box label{

    margin-bottom:8px;
    font-weight:600;
    color:#334155;

}


.admin-login-box input{

    padding:14px;
    margin-bottom:20px;

    border:1px solid #D1D5DB;
    border-radius:10px;

    font-size:16px;
    outline:none;

}


.admin-login-box input:focus{

    border-color:#2E7D32;

}


.admin-login-box button{

    padding:14px;

    background:#2E7D32;
    color:white;

    border:none;
    border-radius:10px;

    font-size:16px;
    cursor:pointer;

}


.admin-login-box button:hover{

    background:#256428;

}