.register-container{
    min-height:100vh;
    background:#F8FAFC;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px 20px;
}

.register-card{
    width:100%;
    max-width:700px;
    background:white;
    padding:40px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.register-card h1{
    text-align:center;
    margin-bottom:30px;
    color:#1F2937;
}

form{
    display:flex;
    flex-direction:column;
}

label{
    margin-bottom:8px;
    margin-top:18px;
    font-weight:600;
    color:#374151;
}

input,
select,
textarea{
    padding:14px;
    border:1px solid #D1D5DB;
    border-radius:10px;
    font-size:16px;
    outline:none;
}

input:focus,
select:focus,
textarea:focus{
    border-color:#2E7D32;
}

textarea{
    resize:none;
}

button{
    margin-top:30px;
    padding:15px;
    background:#2E7D32;
    color:white;
    border:none;
    border-radius:10px;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#256728;
}

.message-container{

    max-width:600px;
    margin:80px auto;
    padding:40px;
    background:#ffffff;
    border-radius:15px;
    text-align:center;
    box-shadow:0 8px 20px rgba(0,0,0,0.08);

}

.message-container h2{

    color:#2E7D32;
    margin-bottom:15px;

}

.message-container p{

    color:#555;
    margin-bottom:25px;
    line-height:1.6;

}

.message-container button{

    background:#2E7D32;
    color:white;
    border:none;
    padding:12px 24px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    transition:0.3s;

}

.message-container button:hover{

    background:#1b5e20;

}